.centered-content {
    display: flex;
    flex-direction: column;
/*    justify-content: center;
    align-items: center;
*/
  }

.round-image {
    width: 150px; /* Taille de l'image */
    height: 150px; /* Assurez-vous que la hauteur et la largeur sont égales */
    border-radius: 50%; /* Rend l'image ronde */
    object-fit: cover; /* Ajuste l'image pour qu'elle remplisse le cercle */
    margin: 20px auto; /* Centrer l'image avec un espacement */
  }